.login-page{
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  background-image: url("/src/assets/img/welcome.jpg");
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login-box{
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

//.login-box .input-items{
//  color: black;
//  font-size: medium;
//}
