<!--
 * Created by         : Chanaka Fernando.
 * Date               : Wed, 7/12/2017 .
 * Email              : nuwan.c.fernando@gmail.com.
 * LinkedIn           : https://www.linkedin.com/in/n-chanaka-fernando
 * Belongs to Project : incubateLabsFrontEnd.
 * Package            : .
 *-->


<div class="login-page">
  <div class="col-md-4  login-box">
    <md-tab-group md-dynamic-height="true">
      <md-tab label="Login">
        <form #loginForm="ngForm">
          <br/>
          <md-input-container style="width:100%">
            <input mdInput style="color:black" type="text" name="userName" required [(ngModel)]="loginmodel.name" #userName="ngModel" placeholder="User Name">
          </md-input-container>
          <md-input-container style="width:100%">
            <input mdInput [maxlength]="8"  type="password" name="password" required [(ngModel)]="loginmodel.password" #password="ngModel" placeholder="Password">
          </md-input-container>
          <div *ngIf="loginResponceMsg != null" class="alert alert-info l-responce" >
            {{loginResponceMsg}}
          </div>

          <button md-raised-button color="primary" class="login-button" [disabled]=" (loginmodel.password.length != 8 ) "  (click)="checkLogin()">Login</button>
        </form>

      </md-tab>

      <md-tab label="Register">
        <form class="form-well" #regForm="ngForm">
          <br/>
          <md-input-container style="width:100%">
            <input mdInput style="color:black" type="text"  name="name" required [(ngModel)]="regModel.userName" #name="ngModel" placeholder="User Name">
          </md-input-container>
          <md-input-container style="width:100%">
            <input mdInput style="color:black" type="email"  name="email" required [(ngModel)]="regModel.email" #email="ngModel" placeholder="Email">
          </md-input-container>
          <md-input-container style="width:100%">
            <input mdInput  [maxlength]="8" style="color:black" type="password" name="pass" required [(ngModel)]="regModel.password" #pass="ngModel" placeholder="Password" (keyup)="paswordMacher()">
          </md-input-container>

          <md-input-container style="width:100%">
            <input mdInput  [maxlength]="8" style="color:black ; " type="password"  name="repass" required [(ngModel)]="regModel.rePassword" #repass="ngModel" placeholder="ReEnter Password" (keyup)="paswordMacher()">
          </md-input-container>
          <div *ngIf="passMatch == 2" class="alert alert-success" role="alert">match passwords</div>
          <div *ngIf="passMatch == 1" class="alert alert-danger" role="alert">Does not match passwords</div>
          <div *ngIf="regResponceMsg" class="alert alert-info" role="alert">{{regResponceMsg}}</div>


          <br/>
          <button md-raised-button color="primary"  [disabled]="passMatch != 2"  style="width:100%; margin-top: 2%; margin-bottom: 10px" (click)="isValidUser()">Register
          </button>

        </form>

      </md-tab>
    </md-tab-group>


  </div>
</div>
