
.nav-buttons{
  float:right;
  display:inline;
  margin-right:0px;
  width: 100%;
  clear:left;
}
.nav-buttons button{
  width: 100%;
  height: 50px;
}


.rm-mar-pad{
  margin: 0%;
  padding: 0%;
}


.active{
  background-color: lightgray;
  color: black;
}
