<!--
 * Created by         : Chanaka Fernando.
 * Date               : Wed, 7/12/2017 .
 * Email              : nuwan.c.fernando@gmail.com.
 * LinkedIn           : https://www.linkedin.com/in/n-chanaka-fernando
 * Belongs to Project : incubateLabsFrontEnd.
 * Package            : .
 *-->

<md-toolbar >
    <div class="col-md-12">
      <div class="col-md-2 col-sm-8 rm-mar-pad" style="display: inline-block">
        <button md-button><img src="/src/assets/img/hotels.png" height="50px" /></button>
      </div>
      <div class="col-md-2 rm-mar-pad nav-buttons">
        <button md-button ><i class="material-icons">account_box</i>Usernaem</button>
      </div>
      <div class="col-md-2 rm-mar-pad nav-buttons">
        <button md-button ><i class="material-icons">search</i>Find a Hotel</button>
      </div>
      <div class="col-md-2 rm-mar-pad nav-buttons">
        <button md-button ><i class="material-icons">fiber_new</i>Enter new Hotel</button>
      </div>

    </div>

</md-toolbar>

<router-outlet></router-outlet>
