<!--
 * Created by         : Chanaka Fernando.
 * Date               : Wed, 7/12/2017 .
 * Email              : nuwan.c.fernando@gmail.com.
 * LinkedIn           : https://www.linkedin.com/in/n-chanaka-fernando
 * Belongs to Project : incubateLabsFrontEnd.
 * Package            : .
 *-->


<!-- Header start -->
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-12"> <a href="index.html" class="logo"><img src="/src/assets/images/quikr_logo.png" height="50px" /></a>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12">
        <!-- Nav start -->
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-collapse collapse" id="nav-main">
            <ul class="nav navbar-nav">
              <li>
                <div class="col-md-12 rm-mar-pad">
                  <button md-button ><i class="material-icons" >location_on</i>Select City</button>
                </div>
              </li>
              <li>
                <div class="col-md-12 rm-mar-pad">
                  <button md-button ><i class="material-icons"  >search</i>Search Add</button>
                </div>
              </li>
              <li>
                <div class="col-md-12 rm-mar-pad">
                  <button md-button ><i class="material-icons" >location_on</i>View All Ads</button>
                </div>
              </li>
              <li>
                <div class="col-md-12 rm-mar-pad">
                  <button md-button ><i class="material-icons">account_box</i>Login/Register</button>
                </div>
              </li>
              <li>
                <div class="col-md-12 rm-mar-pad">
                  <button md-raised-button style="background-color:#fcec52;"><i class="material-icons">file_upload</i>Post Addvertistment</button>
                </div>
              </li>

            </ul>
            <!-- Nav collapes end -->
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- Nav end -->
      </div>
    </div>
    <!-- row end -->
  </div>
  <!-- Header container end -->
</div>
<!-- Header end -->


<router-outlet></router-outlet>
