<!--
 * Created by         : Chanaka Fernando.
 * Date               : Wed, 7/14/2017 .
 * Email              : nuwan.c.fernando@gmail.com.
 * LinkedIn           : https://www.linkedin.com/in/n-chanaka-fernando
 * Belongs to Project : incubateLabsFrontEnd.
 * Package            : .
 *-->



<md-toolbar color="primary">

  <button md-button >
    <md-icon>home</md-icon>
    Hotel Finder
  </button>
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button md-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/home/find']"><i class="material-icons">search</i>Find Hotels </button>
    <button md-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/home/enter']"><i class="material-icons">fiber_new</i>Enter Hotel </button>
    <button md-button  (click)="logout()"><i class="material-icons" >account_box</i>{{ loggedUser }} => Logout</button>

  </div>
  <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>

</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/home/find']">Find </button>
  <button md-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/home/enter']">Enter </button>
  <button md-menu-item (click)="logout()">{{loggedUser }} Logout</button>
</md-menu>



<router-outlet></router-outlet>
