
.nav-buttons{
  float:right;
  display:inline;
  margin-right:0px;
  width: 100%;
  clear:left;
}
.nav-buttons button{
  width: 100%;
}
.nav-buttons button:hover{
  color: #00a8ff;
}

.rm-mar-pad{
  margin: 0%;
  padding: 0%;
}


