<div class="rm-mar-pad">
<div class="navigation">
    <div class="title">
      <h3>Details of the <span>Hotels</span></h3>
      <br/>
    </div>
  </div>

  <div class="col-md-12 form" >

    <table style="width: 100%;border: black 1px solid ;padding: 2px">
      <tr>
        <th style="width: 25%;"></th>
        <th style="width: 75%;"></th>
      </tr>
      <tr>
          <td>Hotel Name</td>
          <td class="table-row">{{detaile.hName}}</td>
      </tr>
      <tr>
          <td class="table-row">Hotel Address </td>
          <td class="table-row">{{detaile.hAddress}}</td>
      </tr>

      <tr>
          <td class="table-row">Description</td>
          <td class="table-row">{{detaile.hDesc}}</td>
      </tr>

      <tr >
          <td class="table-row">City</td>
          <td class="table-row">{{detaile.hCity}}</td>
      </tr>
      <tr>
          <td class="table-row">District</td>
          <td class="table-row">{{detaile.hDist}}</td>
      </tr>
      <tr>

          <td class="table-row">Province</td>
          <td class="table-row">{{detaile.hPro}}</td>
      </tr>
      <tr>
          <td class="table-row">Zip Code</td>
          <td class="table-row">{{detaile.hZip}}</td>
      </tr>
      <tr>
          <td class="table-row">Entered By</td>
          <td class="table-row">{{detaile.hEnterBy}}</td>
      </tr>
      <tr>
          <td class="table-row">Contact </td>
          <td class="table-row">{{detaile.hEnterByE}}</td>
      </tr>
    </table>
  </div>


</div>

