/*
 * Created by         : Chanaka Fernando.
 * Date               : Thu, 7/14/2017 .
 * Email              : nuwan.c.fernando@gmail.com.
 * LinkedIn           : https://www.linkedin.com/in/n-chanaka-fernando
 * Belongs to Project : front_end.
 * Package            : .
 */


.navigation{
  background: url("/assets/img/back.jpg") no-repeat;
  margin: 0%;
  padding: 0%;
}

.form{
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 40px;

}



 .table-row{
  text-align: left;
  border-bottom: 1px solid #1e90ff;
  padding-top: 15px;
  padding-bottom: 5px;
   padding-left: 5px;
}

.form table{
  border-collapse: collapse;
}

.form  tr:hover {
  background-color: #f5f5f5;
}

