
/*
* Created by         : Chanaka Fernando.
* Date               : Wed, 7/12/2017 .
* Email              : nuwan.c.fernando@gmail.com.
* LinkedIn           : https://www.linkedin.com/in/n-chanaka-fernando
* Belongs to Project : incubateLabsFrontEnd.
* Package            : .
*/


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.rm-mar-pad{
  margin: 0%;
  padding: 0%;
}

.title {
  text-align: center;
  margin-bottom: 0px;
}

.title h3 {
  font-size: 42px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  padding-top: 10px;

}
.title h3 span {
  color: #1e90ff;
  font-weight: 200;
}
.title h3:after {
  background: #1e90ff;
  width: 80px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  content: '';
  margin-left: -40px;
}



