
/*
* Created by         : Chanaka Fernando.
* Date               : Wed, 7/12/2017 .
* Email              : nuwan.c.fernando@gmail.com.
* LinkedIn           : https://www.linkedin.com/in/n-chanaka-fernando
* Belongs to Project : incubateLabsFrontEnd.
* Package            : .
*/


@import "~@angular/material/prebuilt-themes/indigo-pink.css";



.copyright {
  position: absolute;
  bottom: 0%;
  padding-top: 5px;
  padding-bottom:5px;
  text-align: center;
  background-color: white;
  width: 100%;
}

.bttxt {
  color: black;
  line-height: 24px;
  text-align: center;
}

.bttxt a{
  text-decoration: none;
}
.rm-mar-pad{
  margin: 0%;
  padding: 0%;
}
